{% extends 'tienda/base.html' %}

{% load static %}

{% block titul %} Ventas {% endblock %}

{% block contenedor %}
    <br>
    {% if data %}
        <table class="table table-hover">
            <tr>
                <th>Venta</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Historico</th>
                <!-- <th>Subtotal</th> -->
            </tr>
        {% for v in data %}
            <tr>
                <td>{{ v.venta }} </td>
                <td>{{v.producto}} </td>
                <td>{{v.cantidad}}</td>
                <td>{{v.precio_historico}}</td>
                <!-- <td>{{v.subtotal}}</td> -->
            </tr>
        {% endfor %}
        </table>
    {% else %}
        NO hay registros...
    {% endif %}
{% endblock %}