{% extends 'tienda/base.html' %}

{% load static %}

{% block titul %} Crear Producto {% endblock %}

{% block contenedor %}
  {% if id %}
    <h3>Editar: {{ id }}</h3>
  {% endif %}

  <form method="post" action="{% url 'tienda:productos_guardar' %}">
    {% csrf_token %}
    <label class="form-control">Nombre:</label>
    <input type="text" name="nombre" class="form-control" value="{{ data.nombre }}"><br>
    <label class="form-control">Precio:</label>
    <input type="number" name="precio" class="form-control" value="{{data.precio}}">
    <label class="from-control">Fecha Compra:</label>
    <input type="date" name="fecha_compra" class="form-control" value="{{data.fecha_compra|date:'Y-m-d'}}">
    <label class="from-control">Categoria:</label>
    <select name="categoria" class="form-control">
      <option value="">Seleccione</option>
      {% for c in categorias %}
        <option value="{{c.id}}" {% if data.categoria.id == c.id %} selected="" {% endif %}>{{c.nombre}}</option>
      {% endfor %}
    </select>
    <br>
    {% if id %}
      <button type="submit" class="btn btn-primary">Actualizar</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Crear</button>
    {% endif %}
  </form>

{% endblock %}