{% extends 'tienda/base.html' %}

{% load static %}

{% load humanize %}

{% block titul %} Productos {% endblock %}

{% block contenedor %}
    <br>
    <a class="btn btn-success" href="{% url 'tienda:form_pro' %}">Crear</a>
    <form class="form-inline" role="search" method="post">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre o descripcion" aria-label="Search" name="buscar" value="{{buscado}}">
        <button class="btn btn-outline-success my-2 my-ms-0" type="submit">Buscar</button><br>
    </form>
    {% if data %}
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Fecha compra</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        {% for i in data %}
            <tr>
                <td>{{ i.id }} </td>
                <td>{{i.nombre}} </td>
                <td>${{i.precio|intcomma}}</td>
                <td>{{i.fecha_compra|date:"SHORT_DATE_FORMAT"}}</td>
                <td>
                    {% if i.categoria.nombre|upper == "JEAN" %}
                        <button type="button" class="btn btn-primary position-relative">
                            {{i.categoria.nombre|upper}}
                        </button>
                    {% else %}
                        {{i.categoria.nombre|upper}}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'tienda:productos_editar' i.id %}" class="btn btn-info">Editar</a>
                    <a href="{% url 'tienda:productos_eliminar' i.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
    {% else %}
        <div class="card bg-warning mt-4 mb-4 p-1">
            NO hay registros...
        </div>
    {% endif %}

{% endblock %}