{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda SENA - {% block titul %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tienda/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tienda/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tienda/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'tienda/favicon_io/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'tienda/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'tienda/css/bootstrap.min.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'tienda:index' %}">Tienda</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'tienda:index' %}">Home</a>
                    </li>
                    {% if request.session.logueo.nombre_rol != "Usuario" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tienda:listar_categorias' %}">Categorias</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'tienda:productos' %}">Listar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Vender</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Revisar inventario</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tienda:logout' %}">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tienda:listar_categorias' %}" class="nav-link {% if request.session.logueo.nombre_rol == "Usuario" %} disabled {% endif %}" aria-disabled="true">Categorias(copia)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block contenedor %}

    {% endblock %}

    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                <div>{{ message }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    
        {% endfor %}
    {% endif %}

    <footer>
        Copyright - Colombia 2023
    </footer>

    <!-- JS include here -->
    <script src="{% static 'tienda/js/library.js' %}"></script>
    <script src="{% static 'tienda/js/bootstrap.bundle.min.js' %}"></script>
    <!-- fin - JS include -->
</body>
</html>
