{% extends 'tienda/base.html' %}

{% load static %}

{% block titul %} Inicio {% endblock %}

{% block contenedor %}

    <h1>Tienda SENA</h1>
    <p>Los mejores productos para la venta!!!</p>
    <img src="{% static 'tienda/img/juegos.jpg' %}" width="20%">
    <br>
    {% if request.session.logueo %}
        Bienvenido {{ request.session.logueo.nombre }} !!<br>
        Su rol es: {{ request.session.logueo.nombre_rol }}<br>
        Foto: <img src="{{ request.session.logueo.foto }}" width='5%'><br>
        id: {{ request.session.logueo.id }}<br>
        <a href="{% url 'tienda:logout' %}"><button class="btn btn-outline-danger">Cerrar Sesion</button></a>
    {% else %}
        No hay sesion abierta !!!
    {% endif %}

{% endblock %}