{% extends 'tienda/base2.html' %}

{% load static %}

{% block titul %} Iniciar Sesion {% endblock %}

{% block contenedor %}

<div class="container pt-5 border col-md-12">
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" aria-describedby="UserNameHelp" name="userName">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-outline-success mb-3">Submit</button>
    </form>
</div>

{% endblock %}